__pycache__/
*.pyc
venv/
.env
.DS_Store

# Базы данных
*.db
*.sqlite3

# Flask instance
instance/

# Python кеш
__pycache__/
*.pyc

# Виртуальное окружение  
venv/

# Системные файлы
.DS_Store
# Kubernetes secrets
k8s-manifests/secret.yaml
tls.crt  
tls.key
