apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: skill-tracker
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
spec:
  ingressClassName: traefik                
  tls:                                     
  - hosts:
    - skilltracker.online                  
    secretName: skilltracker-tls           
  rules:
  - host: skilltracker.online
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: nginx                     
            port:
              number: 80  